<!doctype html>
<html xmlns:th="http://thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      type="text/css"
      rel="stylesheet"
      href="/css/bootstrap.min.css"
      th:href="@{/css/bootstrap.min.css}"
    />
    <title>Create Project</title>
  </head>
  <body>
    <form th:action="@{/saveProject}" th:object="${project}" method="post">
      Name
      <input type="text" th:field="*{name}" placeholder="Title" />
      <span
        th:if="${#fields.hasErrors('name')}"
        th:errors="*{name}"
        style="color: red"
      ></span>
      <button type="submit">Save Project</button>
    </form>
  </body>
</html>
