<!doctype html>
<html xmlns:th="http://thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      type="text/css"
      rel="stylesheet"
      href="/css/bootstrap.min.css"
      th:href="@{/css/bootstrap.min.css}"
    />
    <title>Edit Task</title>
  </head>

  <body>
    <form th:action="@{/saveEditedTask}" method="post">
      <input type="hidden" name="project_id" th:value="${project.id}" />
      <input type="hidden" name="task_id" th:value="${task.id}" />
      <td>
        Title
        <input type="text" th:value="${task.title}" name="title" />
      </td>
      <br />
      <td>
        Description
        <input type="text" th:value="${task.description}" name="description" />
      </td>
      <option value="">Select employee</option>
      <select name="employee_id">
        <option
          th:each="employee : ${employees}"
          th:value="${employee.id}"
          th:text="${employee.name}"
          th:selected="${employee.id == task.employee.id}"
        ></option>
      </select>

      <select name="status">
        <option
          th:each="status : ${statuses}"
          th:value="${status}"
          th:text="${status}"
          th:selected="${status == task.status}"
        ></option>
      </select>

      <br />

      <select name="tags" multiple>
        <option
          th:each="tag : ${tags}"
          th:value="${tag.id}"
          th:text="${tag.name}"
        ></option>
      </select>

      <br />
      <button type="submit">Save task</button>
    </form>
  </body>
</html>
